<!-- views/index/ejs --!>
<!doctype html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body {padding:80px;}
	</style>
</head>
<body>
	<div class="container">
			<div class ="alert alert-danger"> <%= error.stack %> </div>
	</div>
</body>
</html>
