<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<style>
		body {padding-top: 80px;}
	</style>
</head>
<body>
  	<div class="container">
		<div class="col-sm6 col-sm-offset-3">
			<h1><span class="fa fa-sign in"></span>Login</h1>
			<form action="/login" method="post" >
			  	<div class="form-group" ng-app="">
				  <input type="text" ng-model="username">
  				  <span ng-bind="username"></span>
				</div>
			</form>
			<hr>
			<p> Need an account? <a href="/signup">Sign up</a></p>
			<p> Or go<a href="/"> home </a>.</p>
	  </div>
	</div>
</body>
</html>
