//- includes/carousel.jade
header(id="myCarousel" class="slide carousel" data-ride="carousel")
	//- Indicator
	ol.carousel-indicators
		li(data-target="#myCarousel" data-slide-to="0" class="active")
		li(data-target="#myCarousel" data-slide-to="1")
		li(data-target="myCarousel" data-slide-to="2")
	//- Wrapper for slides
	.carousel-inner
		div(class="item active")
			div(class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');")
			.carousel-caption
				h2 Caption 1
		div.item
			div(class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');")
			.carousel-caption
				h2 Caption 2
		div.item
			div(class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');")
			.carousel-caption
				h2 Caption 3
	//- Left and right controls
	a(class="left carousel-control" href="#myCarousel" data-slide="prev")
		span(class="glyphicon glyphicon-chevron-left")
		span.sr-only previous
	a(class="right carousel-control" href="#myCarousel" data-slide="next")
		span(class="glyphicon glyphicon-chevron-right")
		span.sr-only previous