//- includes/head.jade
head
	title= title
	link(rel="stylesheet", href="dist/css/bootstrap.min.css")
	link(rel="stylesheet", href="stylesheets/half-slider.css")
	script(type="application/javascript", src="dist/js/bootstrap.min.js")