//- includes/head.jade
head
	title= title
	link(rel="stylesheet", href="dist/css/bootstrap.min.css")
	link(rel="stylesheet", href="stylesheets/half-slider.css")
	link(rel="stylesheet", type="text/css", href="stylesheets/style.css")
	script(type="application/javascript", src="js/jquery-2.1.4.min.js")
	script(type="application/javascript", src="dist/js/bootstrap.min.js")
